@if (Context.User.Identity.Name != null)
{
    <form method="post" asp-controller="Account" asp-action="Logout" id="logoutForm">
        <button type="submit" class="btn btn-link text-dark">Logout</button>
        <ul class="nav navbar navbar-right">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Profile">Profile</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark" style="cursor:pointer;" id="register" asp-controller="Account">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-outline-dark join-btn" style="cursor:pointer" id="loginBtn" asp-controller="Account">Login</a>
        </li>
    </ul>
}

