@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

 @{
    ViewData["Title"] = "Roles";
}
<div class="index-container container-fluid">

    <h1>View Roles</h1>
<p>
    <button type="button" class="btn btn-primary"><a class="text-light" asp-action="Create">Create New Role</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

</div>
