@model List<BlueWork.web.Models.JobPost>
@{
    ViewData["Title"] = "Client Dashboard";
}
<div class="container container-dash mt-5 mb-3">
    
    <div class="row mb-4">
        <div class="col-md-9">
            <h1 class="mb-4">@ViewData["Title"]</h1>
        </div>
        <div class="col-md-3">
            <button class="justify-content-end btn btn-primary post-job-btn w-50 mb-2" id="add-post">
                <i class="fa-solid fa-plus"></i> Post a job
            </button>

        </div>
    </div>
    
    <div class="card card-dash">
        <div class="card-body">
            <h3 class="h5 mb-3">How to work with talent</h3>
            <p>You can work effectively with talent on LabourLink and ensure the success of your project by following these steps:</p>

            <ul class="steps-list">
                <li>Clearly define your project requirements</li>
                <li>Search for and invite talent</li>
                <li>Review proposals</li>
                <li>Conduct interviews</li>
                <li>Set clear expectations</li>
                <li>Communicate regularly</li>
                <li>Provide feedback</li>
            </ul>
        </div>
    </div>
    <div>
       <h1 class="mb-5 mt-3">Your Job Postings</h1>
    </div>
     <div class="row mb-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                        @if (Model != null && Model.Any())
                          {
                            @foreach (var job in Model)
                            {
                                <a href="#" class="job-link fw-bold">@job.Headline</a>
                                <div class="job-meta">Fixed - $$$ - Public</div>
                                <div class=" mt-2">
                                    <div class="text-muted small">Created 69 hrs ago</div>
                                    <div class="stats d-flex justify-content-end">
                                        <div class="stats-item">0 Proposals</div>
                                        <div class="stats-item">0 Messaged</div>
                                        <div class="stats-item">0 Hired</div>
                                    </div>
                                </div>
                            }
                          }
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

@await Html.PartialAsync("AddPost", new BlueWork.web.Models.AddPostModel.InputModel())
