@{
    ViewData["Title"] = "BlueWork";
}

<div class="first-page container-fluid">
    <section class="hero">
        <div class="hero-content">
            <h1>Get connected with the right freelance talent in seconds!</h1>
            <div class="search-bar d-sm-flex flex-xs-column">
                <input type="text" placeholder="What skill are you looking for?">
                <button>Search</button>
            </div>
            <div class="categories">
                <span>Popular categories:</span>
                <span class="category-tag">Plumbing</span>
                <span class="category-tag">Construction</span>
                <span class="category-tag">Electronics</span>
                <span class="category-tag">Carpenter</span>
            </div>
        </div>
    </section>

    <section class="features">
        <div class="d-grid">
            <div class="row">
                
                <div class="col">
                    <div>
                        <h1>Hello</h1>
                    </div>
                </div>

                <div class="col">
                    <div>
                        <h1>Hello</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
