@{
    ViewData["Title"] = "BlueWork";
}

<div class="first-page container-fluid">
    <section class="hero">
        <div class="hero-content">
            <h1>Get connected with the right freelance talent in seconds!</h1>
            <div class="search-bar d-sm-flex flex-xs-column">
                <input type="text" placeholder="What skill are you looking for?">
                <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="categories">
                <span>Popular categories:</span>
                <span class="category-tag">Plumbing</span>
                <span class="category-tag">Construction</span>
                <span class="category-tag">Electronics</span>
                <span class="category-tag">Carpenter</span>
            </div>
        </div>
    </section>

    <section class="features container-fluid">
        <div class="d-grid ">
            <div class="row">
                <div class="col first">
                    <div class="container-home">
                        <div class="row mb-5">
                            <div class="col-12">
                                <h1 class="display-5 fw-semibold">
                                    The best part? <span class="highlight">Everything.</span>
                                </h1>
                            </div>
                        </div>

                        <div class="row g-4">
                            <!-- Feature 1 -->
                            <div class="col-md-6">
                                <div class="d-flex gap-3 mb-2">
                                    <div class="feature-title"><i class="fa-solid fa-circle-check"></i> Stick to your budget.</div>
                                </div>
                                <p class="feature-description ms-4 ps-3">
                                    Discover the ideal service that fits within your budget range with project-based pricing, without any hourly rates.
                                </p>
                            </div>

                            <!-- Feature 2 -->
                            <div class="col-md-6">
                                <div class="d-flex gap-3 mb-2">
                                    <div class="feature-title"><i class="fa-solid fa-circle-check"></i> Pay when you're happy.</div>
                                </div>
                                <p class="feature-description ms-4 ps-3">
                                    When you receive upfront quotes, you can avoid unexpected surprises. Payments will only be released upon your approval.
                                </p>
                            </div>

                            <!-- Feature 3 -->
                            <div class="col-md-6">
                                <div class="d-flex gap-3 mb-2">
                                    <div class="feature-title"><i class="fa-solid fa-circle-check"></i> Get quality work done quickly</div>
                                </div>
                                <p class="feature-description ms-4 ps-3">
                                    Entrust your project to a skilled freelancer and achieve enduring outcomes in just minutes.
                                </p>
                            </div>

                            <!-- Feature 4 -->
                            <div class="col-md-6">
                                <div class="d-flex gap-3 mb-2">
                                    <div class="feature-title"><i class="fa-solid fa-circle-check"></i> Count on 24/7 support.</div>
                                </div>
                                <p class="feature-description ms-4 ps-3">
                                    Our support team is available 24/7 to assist you anytime and from anywhere.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col second">

                </div>
            </div>
        </div>
    </section>


    <nav class="footer-nav">
        <div class="footer-col">
            <ul>
                <h3>Categories</h3>
                <li><a href="#">Carpentry</a></li>
                <li><a href="#">Plumbing</a></li>
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Domestic Work</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <ul>
                <h3>About</h3>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press and News</a></li>
                <li><a href="#">Partnerships</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <ul>
                <h3>Support</h3>
                <li><a href="#">Help and Support</a></li>
                <li><a href="#">Trust and Safety</a></li>
                <li><a href="#">LaborLink Guides</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <ul>
                <h3>Community</h3>
                <li><a href="#">Community Hub</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Community Standards</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <ul>
                <h3>More from BlueWork</h3>
                <li><a href="#">LaborLink Business</a></li>
                <li><a href="#">LaborLink Enterprise</a></li>
                <li><a href="#">Get Inspired</a></li>
                <li><a href="#">Learn</a></li>
            </ul>
        </div>
    </nav>
</div>
