@{
    ViewData["Title"] = "BlueWork";
}

<div class="first-page container-fluid">
    <section class="hero">
        <div class="hero-content">
            <h1>Get connected with the right freelance talent in seconds!</h1>
            <div class="search-bar d-sm-flex flex-xs-column">
                <input type="text" placeholder="What skill are you looking for?">
                <button>Search</button>
            </div>
            <div class="categories">
                <span>Popular categories:</span>
                <span class="category-tag">Plumbing</span>
                <span class="category-tag">Construction</span>
                <span class="category-tag">Electronics</span>
                <span class="category-tag">Carpenter</span>
            </div>
        </div>
    </section>

    <section class="features container-fluid">
        <div class="d-grid">
            <div class="row">
                <div class="col first">
                    <h1>The best part? <span class="everything">Everything.</span></h1>
                    <div class="d-grid">
                        <div class="row first-col">
                            <div class="row">
                                <div class="col">
                                    <h6>Stick to your budget</h6>
                                    <p>Discover the ideal service that fits within your budget range with project-based pricing,
                                        without any hourly rates.</p>
                                </div>
                                <div class="col">
                                    <h6>Pay when you’re happy.</h6>
                                    <p>When you receive upfront quotes, you can avoid unexpected surprises. 
                                        Payments will only be released upon your approval.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="col">
                                        <h6>Get quality work done quickly</h6>
                                        <p>
                                            Entrust your project to a skilled freelancer and achieve enduring outcomes in just minutes.
                                        </p>
                                    </div>
                                    <div class="col">
                                        <h6>Count on 24/7 support.</h6>
                                        <p>
                                            Our support team is available 24/7 to assist you anytime and from anywhere.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col second">
                    <div class="features-image">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
