@model IEnumerable<BlueWork.web.Models.JobPost>
@{
    ViewData["Title"] = "BlueWork";
}


<body>
    <div class="worker1-container">
        <div class="worker1-header">
            <nav>
                <ul>
                    <li><a href="#">Construction Work</a></li>
                    <li><a href="#">Electrical Work</a></li>
                    <li><a href="#">Domestic Work</a></li>
                    <li><a href="#">Plumbing</a></li>
                    <li><a href="#">Carpentry</a></li>
                    <li><a href="#">Factory</a></li>
                </ul>
            </nav>
        </div>

        <div class="worker1-section m-5">
            <h2 class="worker1-title">Construction Work</h2>
            <p class="worker1-description">Avail construction services that are top quality.</p>
            <div class="worker1-filters">
                <button class="worker1-filter">Service Options</button>
                <button class="worker1-filter">Seller Options</button>
                <button class="worker1-filter">Budget</button>
                <button class="worker1-filter">Delivery Time</button>
            </div>
            <p class="worker1-services-count">3,423 services available</p>
         
            <div class="worker1-cards">
                @foreach (var job in Model)
                {
                <div class="worker1-card" style="cursor: pointer;">
                    <img src="/assets/construction-worker2.jpeg" alt="worker1-image" class="worker1-image mb-2" />
                        <a href="@Url.Action("ApplyJob", "Home", new { id = job.Id })" class="job-link fw-bold fs-5 text-dark mt-3">
                            @job.Headline
                        </a>
                        <p class="worker1-role">@job.Description</p>
                        <p class="worker1-price">Rate: ₱@job.HourlyRateFrom - ₱@job.HourlyRateTo</p>
                </div>
                }
            </div>
       
        </div>
    </div>
</body>