@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid container-pop h-60" id="pop1" style="display: none;">
    <div class="top-content text-center">
        <h5 class="pop-h5" style="overflow-y: hidden;">Join <br>BlueWork</h5>
        <p class="pop-p">Join as a Client or Worker</p>
        <div class="row row-pop">
            <div class="col first-pop option-card" data-type="client">
                <div class="content1">
                    <i class="fa-solid fa-user-tie fa-3x"></i>
                    <p class="box">I'm a client looking to hire for a project</p>
                    <div class="selected-indicator"></div>
                </div>
            </div>

            <div class="col second-pop option-card" data-type="worker">
                <div class="content1">
                    <i class="fa-solid fa-user fa-3x"></i>
                    <p class="box">I'm a worker looking to work on a project</p>
                    <div class="selected-indicator"></div>
                </div>
            </div>
        </div>
        <button id="createAccountBtn" class="mb-3">Create Account</button>
        <button class="action-button" id="actionBtn" style="display: none;">
            <a id="actionButton" asp-controller="Login" asp-action="Client_Profile"></a>
        </button>
        <hr>
        <p class="member">Already a member? <span id="sign-in1" style="color: blue; cursor: pointer;">Log In.</span></p>
    </div>
</div>


<div class="container-fluid container-pop3" id="pop2" style="display: none;">
    <div class="content2 text-center">
        <h5 style="overflow-y: hidden;">Join <br> Bluework</h5>
        <div class="buttons">
            <button class="btn google pop2-btn"><i class="fa-brands fa-google fa-b"></i><a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Login">Continue with Google</a></button>
            <button class="btn apple pop2-btn"><i class="fa-brands fa-apple fa-b"></i> Continue with Apple</button>
        </div>
        <div class="line-container">
            <hr class="line">
            <span class="line-text">OR</span>
            <hr class="line">
        </div>
        <form class="email-container" asp-action="Login" method="post">
            <input class="email" type="email" placeholder="Enter your email">
            <input class="password mb-4" type="email" placeholder="Enter your password">
            <button class="btn continue2 mb-5">Login</button>
            <hr>
            <p class="member1"> Don't have an account yet?<span style="color: blue; cursor: pointer;"> <a class="nav-link text-light" asp-area="" asp-controller="AccountController" asp-action="Registration">Register</a></p>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Views/Home/Registration.cshtml");