@model BlueWork.web.Models.ApplicationUser

@{
    ViewData["Title"] = "Create";
}
<div class="index-container container-fluid">
<h1>Create</h1>

<h4>UserAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" name="password" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Role</label>
                <select name="role" class="form-control">
                    <option value="">Select Role</option>
                    @foreach (var role in ViewBag.Roles as List<string>)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
